body {
  margin: 0px;
}

nav {
  background-color: lightblue;
  text-align: center;
  font-size: 5em;
  color: red;
    text-shadow:
    1px 1px 1px black,
    2px 2px 1px black;
    font-weight: bold;
}

.caption{
  font-size: 0.8em;
}

img{
  width:100%;
}

article {
  margin-left: 10%;
  width: 60%;
}

h1 {
  font-size: 46px;
}

.story_image {
  width: 100%;
}

footer {
  margin-top: 30px;
  font-family: Basier, Arial, sans-serif;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}

